PORT=3777
API_KEY=tmulpx45FDqVhojKRSi1zMf0PXLA6WTN
PUBLIC_URL=http://localhost:3777
MONGODB_URI=mongodb://phcmps:Senhorww%40m0ng0db@ac-duv9dxy-shard-00-00.ac5ttff.mongodb.net:27017,ac-duv9dxy-shard-00-01.ac5ttff.mongodb.net:27017,ac-duv9dxy-shard-00-02.ac5ttff.mongodb.net:27017/?ssl=true&replicaSet=atlas-pf6q1j-shard-0&authSource=admin&appName=abyss-library
ABYSS_API_URL=https://abyss-api-production.up.railway.app
